@keyframes floatAndScaleGreen {
    0% {
      transform: translate(0, 0) scale(1);
    }
    25% {
      transform: translate(50vw, 25vh) scale(1.2);
    }
    50% {
      transform: translate(100vw, 50vh) scale(0.8);
    }
    75% {
      transform: translate(50vw, 75vh) scale(1.5);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
  
  @keyframes floatAndScaleBlue {
    0% {
      transform: translate(0, 0) scale(1);
    }
    25% {
      transform: translate(-50vw, 25vh) scale(0.8);
    }
    50% {
      transform: translate(-100vw, 50vh) scale(1.2);
    }
    75% {
      transform: translate(-50vw, 75vh) scale(0.9);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
  
  .animate-float-and-scale-green {
    animation: floatAndScaleGreen 20s infinite ease-in-out;
  }
  
  .animate-float-and-scale-blue {
    animation: floatAndScaleBlue 20s infinite ease-in-out;
  }