@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color:#607B96;
  background: #011627;
  font-family: 'Fira Code', monospace; /* Apply Fira Code as the default font */
 
}

/* Change color of selected text */
::selection {
  background-color: #607B96;  /* Optional: Set background color of the selected text */
  color: white;
}

